div.westendHeader {
    width: 100%;
    background-color: #f2f2f2;
    position: relative;
    height: 32px;
}

div.responsiveSubMenu_container {

    width: 80%;
    display: inline;
    text-align: center;
    line-height: 32px;
    color: #4d4f53;
    font-size: 16px;
    position: absolute;
    margin: 0 auto;


}

div.responsiveSubMenu_container>a {
    float: right;
    font-size: 13px;
    padding: 0 1em;
}

div.responsiveSubMenu_container>a.guojia>button {
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    outline: none;
    color: red;


}

div.westendHeader-sticky {


    width: 1440px;
    margin: 0 auto;

}

div.westendHeader-sticky>div.logo,
div.westendHeader-sticky>div.search,
div.westendHeader-sticky>div.zhanghu,
div.westendHeader-sticky>div.shopcar {
    float: left;


}

div.westendHeader-sticky>div.search {
    width: 800px;
    text-align: center;
    line-height: 71px;

}

div.westendHeader-sticky::after {
    clear: both;
    content: "";
    display: table;

}

div.westendHeader-sticky>div.zhanghu,
div.westendHeader-sticky>div.shopcar {
    width: 160px;
    height: 41px;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
}

div.header {
    background-color: #008190;
    color: #ffffff;
    padding: 0 230px;

}

div.header>ul.nav::after {
    display: block;
    clear: both;
    content: "";
}

ul.nav>li {
    float: left;
    position: relative;
    width: 100px;
    text-align: center;
    line-height: 2em;
    cursor: pointer;
    font-size: 14px;
}

ul.nav>li:hover {
    background-color: #ffffff;
    color: #008190;
}

ul.nav>li>ul.nav_son {
    position: absolute;
    color: #008190;
    display: none;
}

ul.nav>li:hover>ul.nav_son {
    display: block;
}

ul.nav>li:hover>ul.nav_son>li {
    background-color: #ffffff;

}

/* 三盒伸缩布局 */
div.responsiveUsp_slider {
    background-color: #f2f2f2;
    color: #4d4f53;
}

div.responsiveUsp_slider {
    margin: 0 auto;

    padding-top: 20px;
    height: 36px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}



/* 三盒伸缩布局 */

/* Banners */
div.stripBanner {
    background-color: #ffffff;
    color: #008190;
    text-align: center;
    padding: 8px;

}

div.stripBanner>a.stripBanner_text {
    color: #008190;
    font-size: 16px;
    font-weight: bold;
}


/* Banners */
#main {
    margin: 0 auto;
    /* padding: 0 auto; */
    width: 1440px;
    height: 439.5px;
    overflow: hidden;

}

/* 热卖推荐 */
div.rmtj {
    padding-top: 2em;
    color: #1a1a1a;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}


div.new {
    padding: 0 80px;
    display: flex;
    width: auto;
    height: 300px;
    box-sizing: border-box;

    justify-content: space-around;


}

div.box1>img,
div.box2>img,
div.box3>img,
div.box4>img {
    width: 281px;
    height: 296px;
}

div.dian {
    width: 100%;
    height: 70px;
    margin: 0 auto;
    text-align: center;
}

div.twoItemEditorial_container {
    margin: 0 auto;
    text-align: center;
    display: flex;
    width: 1300px;
    box-sizing: border-box;
    justify-content: space-around;

}

div.box-left,
div.box-right {
    text-align: left;
    padding: 1em 0;
}

div.box-left>*,
div.box-right>* {
    padding: 0.5em 0;
}

div.box-left>.button,
div.box-right>.button {
    color: #ffffff;
    background-color: #008190;
    margin: 16px 0 0;
    padding: 0 16px;
    width: 98px;
    height: 40px;

}

div.sixItemCategories_container {
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    width: 1300px;
    display: flex;
    justify-content: space-around;

}