.siteNav {
    background-color: #333333;
    height: 36px;
    position: relative;
    text-align: center;
}

.siteNav>.yx-row {
    height: 36px;
    width: 1090px;
    font-size: 12px;

    margin: 0 auto;
}

.siteNav>.yx-row>.yx-noticeitem {
    color: #cc9756;
    float: left;
    margin-top: 6px;

}

.siteNav>.yx-row>.yx-noticeitem>.icon {
    padding: 0 0 0 26px;

}

.siteNav>.yx-row>.yx-noticeitem>.noticeText>a {
    color: #cc9756;
}

div.yx-siteNav-right:after {
    display: block;
    clear: both;
    content: "";
}

div.yx-siteNav-right>ul.nav>li {
    float: right;
    position: relative;
    width: 80px;
    text-align: center;
    cursor: pointer;
    color: #cccccc;

}